*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one{
    background-color: forestgreen;
    width: 300px;
    
}
#three{
    background-color: aqua;
    width: 200px;
}

#main1{
    border:1px solid chartreuse;
    width: 300px;

}